---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">Chat</span>
    <span class="gpt-subtitle">Got</span>
  </div>
  <p mt-1 op-60>Based on <a href="https://blog.chatgot.one/what-is-gemini-ai/"  target="_blank">Google Gemini AI</a> - By Gemini Pro API</p>
  <p mt-1 op-60>It's Free, Enjoy!</p>
</header>
